<h1 class="display-4">
  Equipos</h1>

<button *ngIf="!teamFormAvailable" class="btn btn-success btn-lg" (click)="toggleTeamForm()">
  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Equipo
</button>

<hr>

<div *ngIf="teamFormAvailable">
  <h2>Nuevo equipo</h2>

  <div *ngIf="showMessage" [ngClass]="messageClass">
    <strong>{{ onSubmitMessage }}</strong>
  </div>

  <form [formGroup]="teamForm" novalidate>

    <div class="form-row">
      <div class="col">

        <div class="form-group">
          <label for="name">Equipo:</label>
          <input [ngClass]="{'is-invalid': teamForm.get('name').invalid && (teamForm.get('name').dirty || teamForm.get('name').touched), 'is-valid': teamForm.get('name').valid && (teamForm.get('name').dirty || teamForm.get('name').touched)}"
            type="text" name="name" class="form-control" autocomplete="off" placeholder="Ingrese Nombre del Equipo" formControlName="name"
          />

          <div class="invalid-feedback" *ngIf="teamForm.get('name').invalid && (teamForm.get('name').dirty || teamForm.get('name').touched)">
            <p *ngIf="teamForm.get('name').hasError('required')">El campo es requerido.</p>
            <p *ngIf="teamForm.get('name').hasError('minlength') || teamForm.get('name').hasError('maxlength')">El campo debe tener entre 3 y 50 caracteres.</p>
          </div>
        </div>

      </div>

      <div class="col">

        <div class="form-group">
          <label for="name">Escudo (opcional):</label>
          <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Ingrese URL de imagen del Escudo"
            formControlName="imageUrl" />
        </div>

      </div>

    </div>

    <div class="row">
      <button [disabled]="teamForm.invalid || processing" type="button" class="btn btn-success btn-fixed ml-3" (click)="onTeamSubmit()">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Agregar
      </button>
      <button [disabled]="processing" type="button" class="btn btn-primary btn-fixed ml-3" (click)="cleanForm()">
        <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Limpiar
      </button>
      <button [disabled]="processing" type="button" class="btn btn-danger btn-fixed ml-5" value="Cerrar" (click)="toggleTeamForm()">
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar
      </button>
    </div>

  </form>

  <hr>
</div>

<div *ngIf="teams.length > 0">
  <div class="row">
    <div *ngFor="let team of teams" class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
      <div class="card border-light mt-3">
        <div class="card-text text-center h3">
          <strong>{{ team.name }}</strong>
        </div>
        <img class="card-img-top mx-auto my-auto" src="{{ team.imageUrl }}">
        <div class="card-body text-center">
          <button class="btn btn-primary btn-delete" (click)="onTeamDelete(team._id)">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>