<div class="card footer bg-dark">
    <div class="card-body">
        <p class="card-text text-white text-muted">
            <a href="https://github.com/MarcioMatteucci/mean-sports-web" target="_blank">GitHub&nbsp;&nbsp;
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://es.wikipedia.org/wiki/Licencia_MIT" target="_blank">MIT License.</a>
        </p>
        <p class="card-text text-white text-muted">&copy; {{ today | date: 'yyyy' }}. MEAN Sports by
            <strong>Bevilacqua, Castellano y Matteucci.</strong>.</p>
    </div>
</div>