<h1 class="display-4">Partidos</h1>

<button *ngIf="!gameFormAvailable" class="btn btn-success btn-lg" (click)="toggleGameForm()">
  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Partido
</button>

<hr>

<div *ngIf="gameFormAvailable">
  <h2>Nuevo partido</h2>

  <div class="row">
    <form [formGroup]="gameForm" novalidate>

      <div class="form-row">
        <select class="custom-select ml-4" formControlName="localTeamName">
          <option selected value=''>Elija equipo local ...</option>
          <option *ngFor="let team of localTeams" [value]="team">{{ team }}</option>
        </select>
        <span>
          <p class="h3">
            <strong>&nbsp;&nbsp;VS&nbsp;&nbsp;</strong>
          </p>
        </span>
        <select class="custom-select" formControlName="visitingTeamName">
          <option selected value=''>Elija equipo visitante ...</option>
          <option *ngFor="let team of visitingTeams" [value]="team">{{ team }}</option>
        </select>
      </div>
    </form>

    <button [disabled]="gameForm.invalid || processing" type="button" class="btn btn-success ml-5" (click)="onGameSubmit()">
      <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Agregar
    </button>
    <button [disabled]="processing" type="button" class="btn btn-danger btn-fixed ml-2" value="Cerrar" (click)="toggleGameForm()">
      <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar
    </button>
  </div>

  <div>
    {{ this.gameForm.get('localTeamName').hasError('required') }} {{ this.gameForm.get('visitingTeamName').hasError('required')
    }}
  </div>

  <hr>

</div>



<div *ngFor="let game of games">
  {{ game.localTeam.name }} vs {{ game.visitingTeam.name }}
</div>