<h1 class="display-4">Partidos</h1>

<button *ngIf="!gameFormAvailable" class="btn btn-success btn-lg" (click)="toggleGameForm()">
  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Partido
</button>

<hr>

<div *ngIf="gameFormAvailable">
  <h2>Nuevo partido</h2>

  <div *ngIf="showMessage" [ngClass]="messageClass">
    <strong>{{ onSubmitMessage }}</strong>
  </div>

  <div class="row">
    <form [formGroup]="gameForm" novalidate>

      <div class="form-row">
        <select class="custom-select ml-4" formControlName="localTeamName">
          <option selected value=''>Elija equipo LOCAL ...</option>
          <option *ngFor="let team of localTeams" [value]="team">{{ team }}</option>
        </select>
        <span>
          <p class="h3">
            <strong>&nbsp;&nbsp;VS&nbsp;&nbsp;</strong>
          </p>
        </span>
        <select class="custom-select" formControlName="visitingTeamName">
          <option selected value=''>Elija equipo VISITANTE ...</option>
          <option *ngFor="let team of visitingTeams" [value]="team">{{ team }}</option>
        </select>
      </div>
    </form>

    <button [disabled]="gameForm.invalid || processing" type="button" class="btn btn-success ml-5" (click)="onGameSubmit()">
      <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Agregar
    </button>
    <button [disabled]="processing" type="button" class="btn btn-danger btn-fixed ml-2" value="Cerrar" (click)="toggleGameForm()">
      <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar
    </button>
  </div>

  <hr>

</div>

<div *ngIf="pendingGames.length > 0">
  <h2>Pendientes</h2>

  <div *ngFor="let game of pendingGames" class="wrapper-game mb-3">
    <div class="local-team">
      <p class="h5 center">Local</p>
    </div>
    <div class="local-team-name">
      <p class="h4 center">{{game.localTeam.name}}</p>
    </div>
    <div class="local-team-goals">
      <p class="h4 center">{{game.localTeam.goals}}</p>
    </div>
    <div class="versus">
      <p class="h4 center">VS.</p>
    </div>
    <div class="visiting-team-goals">
      <p class="h4 center">{{game.visitingTeam.goals}}</p>
    </div>
    <div class="visiting-team-name">
      <p class="h4 center">{{game.visitingTeam.name}}</p>
    </div>
    <div class="visiting-team">
      <p class="h5 mx-2 center">Visitante</p>
    </div>
    <div class="actions">
      <div class="row ml-3 center">
        <button class="btn btn-success btn-sm" (click)="onInitGame(game._id)">Iniciar</button>
        <button class="btn btn-primary btn-sm" (click)="onGameDelete(game._id)">Eliminar</button>
      </div>
    </div>
  </div>

  <hr>
</div>

<div *ngIf="startedGames.length > 0">
  <h2>Iniciados</h2>

  <div *ngFor="let game of startedGames" class="wrapper-game mb-3">
    <div class="local-team">
      <p class="h5 center">Local</p>
    </div>
    <div class="local-team-name">
      <p class="h4 center">{{game.localTeam.name}}</p>
    </div>
    <div class="local-team-goals">
      <p class="h4 center">{{game.localTeam.goals}}</p>
    </div>
    <div class="versus">
      <p class="h4 center">VS.</p>
    </div>
    <div class="visiting-team-goals">
      <p class="h4 center">{{game.visitingTeam.goals}}</p>
    </div>
    <div class="visiting-team-name">
      <p class="h4 center">{{game.visitingTeam.name}}</p>
    </div>
    <div class="visiting-team">
      <p class="h5 mx-2 center">Visitante</p>
    </div>
    <div class="actions">
      <div class="row ml-3 center">
        <a routerLink="/games/{{game._id}}" class="btn btn-info btn-sm">Eventos</a>
        <button class="btn btn-primary btn-sm" (click)="onGameDelete(game._id)">Eliminar</button>
      </div>
    </div>
  </div>

  <hr>
</div>

<div *ngIf="finishedGames.length > 0">
  <h2>Finalizados</h2>

  <div *ngFor="let game of finishedGames" class="wrapper-game mb-3">
    <div class="local-team">
      <p class="h5 center">Local</p>
    </div>
    <div class="local-team-name">
      <p class="h4 center">{{game.localTeam.name}}</p>
    </div>
    <div class="local-team-goals">
      <p class="h4 center">{{game.localTeam.goals}}</p>
    </div>
    <div class="versus">
      <p class="h4 center">VS.</p>
    </div>
    <div class="visiting-team-goals">
      <p class="h4 center">{{game.visitingTeam.goals}}</p>
    </div>
    <div class="visiting-team-name">
      <p class="h4 center">{{game.visitingTeam.name}}</p>
    </div>
    <div class="visiting-team">
      <p class="h5 mx-2 center">Visitante</p>
    </div>
    <div class="actions">
      <div class="row ml-3 center">
        <a routerLink="/games/{{game._id}}" class="btn btn-info btn-sm">Eventos</a>
        <button class="btn btn-primary btn-sm" (click)="onGameDelete(game._id)">Eliminar</button>
      </div>
    </div>
  </div>

  <hr>
</div>