<div *ngIf="isLoading">
  <p class="h1 mt-5 text-center">
    <i class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;&nbsp;&nbsp;Cargando...
  </p>
</div>

<div *ngIf="!isLoading">
  <div class="row">
    <p class="ml-3">Fecha de Inicio: {{ game?.start.startedAt | date: 'dd/MM/yyyy' }}</p>
    <p class="ml-5">Hora de Inicio: {{ game?.start.startedAt | date: 'HH:mm' }} hs.</p>
    <p *ngIf="game?.finish.isFinished" class="ml-5">Hora de Fin: {{ game?.finish.finishedAt | date: 'HH:mm' }} hs.</p>
  </div>

  <div *ngIf="!eventFormAvailable && !game.finish.isFinished" class="row mb-3">
    <button class="btn btn-success btn-lg ml-3" (click)="toggleEventForm()">
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar Evento
    </button>
    <button class="btn btn-primary btn-lg ml-3" (click)="onFinishGame()">
      <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Finalizar Partido
    </button>
  </div>

  <hr>

  <div *ngIf="eventFormAvailable">
    <h2>Nuevo Evento</h2>

    <div *ngIf="showMessage" [ngClass]="messageClass">
      <strong>{{ onSubmitMessage }}</strong>
    </div>

    <form [formGroup]="eventForm" novalidate>

      <div class="row">

        <div class="btn-group mb-3 ml-3" data-toggle="buttons">
          <label class="btn btn-outline-primary active fixed" (click)="selectTargetTeam('local')">
            <input type="radio" name="option" id="option1" [checked]="targetTeam === 'local'" autocomplete="off">
            <span *ngIf="targetTeam === 'local'">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</span>Local
          </label>

          <label class="btn btn-outline-primary fixed" (click)="selectTargetTeam('visiting')">
            <input type="radio" name="option" id="option2" [checked]="targetTeam === 'visiting'" autocomplete="off">
            <span *ngIf="targetTeam === 'visiting'">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;</span>Visitante
          </label>
        </div>

        <select class="custom-select ml-4" formControlName="eventType">
          <option selected value=''>Tipo de Evento</option>
          <option [value]="'Gol'">Gol</option>
          <option [value]="'Amonestación'">Amonestación</option>
          <option [value]="'Expulsión'">Expulsión</option>
          <option [value]="'Sustitución'">Sustitución</option>
        </select>

        <div *ngIf="eventForm.get('eventType').value === 'Gol'" class="form-check ml-3" style="margin-top: 7px;">
          <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" formControlName="isOwnGoal">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">En Contra</span>
          </label>
        </div>

      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label *ngIf="!(eventForm.get('eventType').value === 'Sustitución')" for="name">Jugador:</label>
            <span *ngIf="(eventForm.get('eventType').value === 'Sustitución')">
              <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;"></i>
              <label for="name">Entra:</label>
            </span>
            <input type="text" name="player1" class="form-control" autocomplete="off" placeholder="Ingrese un Jugador" formControlName="player1"
            />
          </div>
        </div>

        <div class="col" *ngIf="(eventForm.get('eventType').value === 'Sustitución')">
          <div class="form-group">
            <span>
              <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;"></i>
            </span>
            <label for="name">Sale:</label>
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Ingrese un Jugador" formControlName="player2">
          </div>
        </div>

        <button [disabled]="eventForm.invalid || processing" type="button" class="btn btn-success btn-fixed ml-3" (click)="onEventSubmit()">
          <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Agregar
        </button>
        <button [disabled]="processing" type="button" class="btn btn-primary btn-fixed ml-3" (click)="cleanForm()">
          <i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Limpiar
        </button>
        <button [disabled]="processing" type="button" class="btn btn-danger btn-fixed ml-5" value="Cerrar" (click)="toggleEventForm()">
          <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cerrar
        </button>

      </div>
    </form>

    <hr>

  </div>

  <div class="wrapper-game mb-3">
    <div class="local-team">
      <p class="h5 center">Local</p>
    </div>
    <div class="local-team-name">
      <p class="h4 center">{{game?.localTeam.name}}</p>
    </div>
    <div class="local-team-goals">
      <p class="h4 center">{{game?.localTeam.goals}}</p>
    </div>
    <div class="versus">
      <p class="h4 center">VS.</p>
    </div>
    <div class="visiting-team-goals">
      <p class="h4 center">{{game?.visitingTeam.goals}}</p>
    </div>
    <div class="visiting-team-name">
      <p class="h4 center">{{game?.visitingTeam.name}}</p>
    </div>
    <div class="visiting-team">
      <p class="h5 mx-2 center">Visitante</p>
    </div>
  </div>

  <div class="wrapper-events">
    <div *ngIf="localEvents?.length > 0" class="local-events">
      <ul *ngFor="let event of localEvents" class="list-group mr-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <span *ngIf="event.type === 'Sustitución'">
              <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;"></i>
            </span>
            <strong>{{ event?.player1 }}</strong>
          </span>
          <span *ngIf="event.type === 'Sustitución'">
            <span>
              <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;"></i>
            </span>
            <strong>{{ event?.player2 }}</strong>
          </span>
          <span *ngIf="event.isOwnGoal">(en Contra).</span>
          <span class="badge badge-pill" [ngClass]="{ 'badge-success': event.type === 'Gol', 'badge-warning': event.type === 'Amonestación', 'badge-danger': event.type === 'Expulsión', 'badge-info': event.type === 'Sustitución' }">{{ event?.type }}
            <i *ngIf="!game?.finish.isFinished" (click)="onEventDelete(event._id)" class="fa fa-times" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="visitingEvents?.length > 0" class="visiting-events">
      <ul *ngFor="let event of visitingEvents" class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <span *ngIf="event.type === 'Sustitución'">
              <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;"></i>
            </span>
            <strong>{{ event?.player1 }}</strong>
          </span>
          <span *ngIf="event.type === 'Sustitución'">
            <span>
              <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;"></i>
            </span>
            <strong>{{ event?.player2 }}</strong>
          </span>
          <span *ngIf="event.isOwnGoal">(en Contra)</span>
          <span class="badge badge-pill" [ngClass]="{ 'badge-success': event.type === 'Gol', 'badge-warning': event.type === 'Amonestación', 'badge-danger': event.type === 'Expulsión', 'badge-info': event.type === 'Sustitución' }">{{ event?.type }}
            <i *ngIf="!game?.finish.isFinished" (click)="onEventDelete(event._id)" class="fa fa-times" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>