<div class="jumbotron text-center">
  <h1 class="display-3">MEAN Sports</h1>
  <p class="lead">Aplicacion Web en el
    <strong>MEAN Stack</strong> sobre encuentros deportivos.
  </p>
  <p>
    <a class="btn btn-success btn-lg btn-fixed" routerLink="/teams">Equipos&nbsp;&nbsp;
      <i class="fa fa-users fa-flip-horizontal" aria-hidden="true"></i>
    </a>
    <a class="btn btn-info btn-lg btn-fixed" routerLink="/games">Partidos&nbsp;&nbsp;
      <i class="fa fa-futbol-o fa-flip-horizontal" aria-hidden="true"></i>
    </a>
  </p>
</div>

<div class="card-deck text-center">

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="https://secure.meetupstatic.com/photos/event/8/9/0/a/600_254615082.jpeg" alt=""
      style="width: 133px;">
    <div class="card-body">
      <h4 class="card-title">MongoDB</h4>
      <p class="card-text">MongoDB is a free and open-source cross-platform document-oriented database program. This NoSQL database program uses
        JSON-like documents with schemas.</p>
    </div>
    <a href="https://www.mongodb.com/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="http://panjiachen.github.io/chose-language/images/icon-express.svg" alt="" style="width: 140px;">
    <div class="card-body">
      <h4 class="card-title">Express JS</h4>
      <p class="card-text">Express.js is a Node.js framework. Node.js is a platform that allows JavaScript to be used outside the Web Browsers,
        for creating web and network applications. Ut dignissim eleifend.</p>
    </div>
    <a href="http://expressjs.com/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" alt="" style="width: 133px;">
    <div class="card-body">
      <h4 class="card-title">Angular 5</h4>
      <p class="card-text">Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
        dependency injection, and integrated best practices to solve development challenges.</p>
    </div>
    <a href="https://angular.io/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="http://www.boream.com/sites/default/files/nodejs_500_0.png" alt="" style="width: 140px;">
    <div class="card-body">
      <h4 class="card-title">Node JS</h4>
      <p class="card-text">Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking
        I/O model that makes it lightweight and efficient.</p>
    </div>
    <a href="https://nodejs.org/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

</div>